.css-15wwp11-MuiTableHead-root {
  background-color: #000;
}

.MuiTableCell-root {
  text-transform: capitalize;
  font-size: 1.4rem !important;
  font-weight: bold !important;
  color: #fff !important;
}

.MuiTableBody-root {
  .MuiTableCell-root {
    color: #000 !important;
    text-transform: none;
  }
}

.table-icon {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 25px;
  width: 58px;
  svg {
    cursor: pointer;
  }
}

.table-empty {
  padding: 20px;
}
