.home-container {
  padding: 30px 25px;
  width: 100%;
}

.home-header {
  max-width: 600px;
  display: flex;
  button {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}

.searbox-box-borders {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.categories-tabs {
  margin-top: 25px;
  display: flex;
  padding: 5px;
  border-radius: 5px;
  height: 55px;
  background: #ececec;
  overflow: auto;
  .category-tab {
    background: #8b619b;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    color: #fff;
    text-transform: capitalize;
    cursor: pointer;
    margin-right: 5px;
  }
}

.category-tab-selected {
  background: #43bebd !important;
}

.products-home {
  max-width: 1200px;
  margin: 60px auto;
  h6 {
    font-size: 2rem;
    margin-bottom: 40px;
    text-transform: capitalize;
  }
}

.products-home-container {
  display: grid;
  grid-template-columns: repeat(4, 240px);
  justify-content: space-between;
  grid-gap: 30px 20px;
}

.products-pagination {
  margin-top: 50px;
}

.product-card {
  padding: 10px 15px;

  &-image {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 80%;
      height: 80%;
      object-fit: contain;
    }
  }

  &-footer {
    border-top: 1px solid #dedede;
    text-align: center;

    p {
      margin-top: 10px;
      font-size: 1.4rem;
      text-transform: capitalize;
      line-height: 1.1;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
      height: 1.2em;
      white-space: nowrap;
    }
    span {
      font-weight: bold;
    }
  }
  &-cart,
  &-details {
    overflow: hidden;
    padding: 5px;
  }

  &-details {
    margin-bottom: 1px;
    .product-card-button {
      background: #1976d2;
      &:hover {
        background: #4795e3;
      }
    }
  }
}

.product-card-modal {
  height: 380px;
  display: flex;
  margin: 0 20px;
  margin-bottom: 15px;
  &-img {
    width: 400px;
    img {
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
  }
  &-info {
    width: 280px;

    margin-left: 25px;
    margin-right: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      font-size: 2rem;
      font-weight: bold;
    }
    span {
      font-weight: bold;
    }
    .product-card-button {
      margin-top: 20px;
    }
  }
}

.product-card-home-modal {
  width: auto !important;
}

.product-card-button {
  background: #43bebd;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: none;
  color: #fff;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5 linear;
  &:hover {
    background: #8f6d9d;
  }
  svg {
    width: 18px;
    height: 18px;
    margin-right: 5px;
    margin-bottom: 3px;
  }
  span {
    font-size: 1.4rem;
  }
}

.home-products-empty {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
