.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  max-height: 85vh;
  max-width: 1200px;
  background-color: #fff;
  box-shadow: 24px;
  border-radius: 10px;
  overflow: auto;
  padding-top: 15px;

  h3 {
    padding-left: 25px;
    margin-bottom: 0;
  }
}
