.MuiSelect-select {
  font-size: 1.4rem !important;
  text-transform: capitalize !important;
}

.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.MuiSelect-select {
  height: 12px !important;
  min-height: 12px !important;
}

.MuiMenuItem-root {
  font-size: 1.4rem !important;
  text-transform: capitalize;
}

.css-1d1r5q-MuiFormHelperText-root {
  font-size: 1rem !important;
}

.select-error {
  color: #d32f2f !important;
  bottom: 18px;
}

.form-select {
  height: 58.7px;
}
