.new-product {
  .form-inputs {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    grid-gap: 0 20px;
  }

  .form-selects {
    display: flex;
    gap: 30px;
  }
  .expiration-container {
    display: flex;

    div {
      flex: 1;
    }
  }
}

.expiration-date {
  margin-top: 5px;
}

.drop-image-container {
  display: flex;
  align-items: center;
}

.drop-image {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;

  button {
    text-transform: none !important;
  }
}

.image-name {
  font-size: 1.2rem;
  margin-left: 10px;
}
