.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  font-size: 1.4rem !important;
  line-height: 2rem !important;
}

.MuiOutlinedInput-root {
  input {
    font-size: 1.3rem;
    &::placeholder {
      font-size: 1.3rem !important;
    }
  }
}

.css-1v994a0 {
  font-size: 1.5rem;
}

.css-1n2mv2k {
  span {
    font-size: 1rem;
  }
}

.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root {
  font-size: 1rem !important;
}

.date-picker-container {
  .MuiFormControl-root {
    width: 99%;
  }
  .MuiInput-root {
    font-size: 1.4rem;
  }
  .MuiInputLabel-root {
    font-size: 1.4rem;
  }
  /*   .css-1480iag-MuiInputBase-root-MuiInput-root.Mui-error:after {
    border-bottom-color: #949494;
  } */
}
